@import "tailwindcss";

/* *{
  margin: 0;
  padding: 0;
  box-shadow: 0;
} */
 body{
  background-color: black;
  color: white;
 }
#bg-canvas {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      pointer-events: none;
      display: block;
}
 /* #navbar{
  border: 2px solid white;
  
} */
/* #hero{
  border: 2px solid white;
} */
#inner-hero{
  position: relative;
  top: 40%;
  left: 60%;
  transform: translate(-60%, -50%);
  width: 88%;
}
#hero-name{
  font-size: 87px;
  font-weight: 600;
  /* font-family: Lora; */
}
.Lora-hero-name{
  font-family: "Lora", serif;
}
#hero-work{
  font-size: 30px;
}
#hero-text{
  font-size: 15px;
}
.skill{
  border: 1px solid silver;
  border-radius: 25%;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  /* height: 20px;
  width:40px; */
}
.skills .skill-set .skill{
  height: auto;
  max-width: 100%;
}
/* #project-content{
  padding: 0 100px;
} */
/* #project-content{
  width: 85%;
  position: relative;
  left: 7.1%;
} */